<div class="header">
  <div class="container">
    <div class="column">
      <i class="bi bi-linkedin icon icon--logo"></i>
      <div class="search-bar">
        <i class="bi bi-search"></i>
        <input type="text" class="search-input" placeholder="Buscar" />
      </div>
    </div>

    <div class="column icon-column">
      <div class="icon-column__icon">
        <i class="bi bi-house-door-fill icon"></i>
        <div>Inicio</div>
      </div>
      <div class="icon-column__icon">
        <i class="bi bi-people-fill icon"></i>
        <div>Mi Red</div>
      </div>
      <div class="icon-column__icon">
        <i class="bi bi-briefcase-fill icon"></i>
        <div>Empleos</div>
      </div>
      <div class="icon-column__icon">
        <i class="bi bi-chat-dots-fill icon"></i>
        <div>Mensajes</div>
      </div>
      <div class="icon-column__icon">
        <i class="bi bi-bell-fill icon"></i>
        <div>Notificaciones</div>
      </div>
      <div class="icon-column__icon">
        <div class="header-icon-avatar">
          <img src="assets/images/profile-picture.jpeg" alt="Avatar" />
        </div>        <div>Yo<i class="bi bi-caret-down-fill"></i></div>
      </div>
      <div class="icon-column__icon">
        <i class="bi bi-grid-3x3-gap-fill icon"></i>
        <div>Productos<i class="bi bi-caret-down-fill"></i></div>
      </div>
      <div class="icon-column__icon">
        <i class="bi bi-megaphone-fill icon"></i>
        <div>Publicidad</div>
      </div>
    </div>
  </div>
</div>
