.publication {
  padding: 5px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.publication-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.publication-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eee;
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.publication-header-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
  &__author {
      font-weight: bold;
    }
    
  &__job-title {
    color: #999;
    font-size: 14px;
  }
    
  &__timestamp {
    color: #999;
    font-size: 12px;
  }
}

.publication-header-buttons {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  gap: 16px;
  &__icon {
    cursor: pointer;
  }
}

.publication-content {
  margin: 0;
  padding: 0 10px 16px;
  border-bottom: 1px solid #eee;
}

.publication-content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.publication-content-likes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  &__icon {
    color: #eee;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0A66C2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__count {
    font-size: 14px;
    color: #333;
  }
}

.publication-comments {
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}

.publication-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.publication-footer-action {
  border: 0;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  background-color: transparent;
  font-weight: 600;
  color: #666;
  &:hover {
    background-color: #ddd;
  }
}

.publication {
    
    &__content {
      margin-bottom: 10px;
      
      &__text {
        margin-bottom: 10px;
      }
    }
    
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      color: #999;
      
      &__likes,
      &__comments {
        display: flex;
        align-items: center;
        
        &-count {
          margin-right: 5px;
          font-weight: bold;
        }
      }
      
      &__actions {
        display: flex;
        
        & .publication__action {
          padding: 5px 10px;
          border: none;
          border-radius: 3px;
          background-color: #ccc;
          color: #fff;
          cursor: pointer;
          
          & + .publication__action {
            margin-left: 5px;
          }
        }
      }
    }
  }
  